html {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: hidden;
    background-image: url("curtains.jpg");
}

.movie {
    flex-grow: 1;
    overflow-y: hidden;
}

.outer-div {
    position: relative;
    bottom: 0;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.input {
    width: 100%;
    border: 1px solid white;
    outline: none;
    height: 70px;
    font-size: 60px;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 70px;
    vertical-align: middle;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: white;
    border: 1px solid black;
    color: black;
}

::placeholder {
    color: black;
}

.options {
    position: relative;
    width: 100%;
    border: 1px solid black;
    outline: none;
    height: calc(100% - 70px);
    bottom: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 1px black;
}

.results {
    bottom: 0;
    white-space: pre-wrap;
    overflow-y: scroll;
    height: calc(100% - 70px);
    width: 100%;
}

.result {
    color: black;
    background: white;
    border-radius: 30px;
    border: 2px solid black;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.line1 {
    font-size: 28px;
    color: Black;
    font-weight: bold;
}

.line2 {
    font-size: 20px;
    font-weight: bold;
}

.line3 {
    font-size: 16px;
}

button {
    height: 140px;
    line-height: 60px;
    font-size: 60px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: white;
    color: Black;
    cursor: pointer;
    margin-top: 0;
    padding: 10px;
}

.loading1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}

.loading2 {
    width: fit-content;
    height: fit-content;
    color: white;
}