<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<div id="movie" class="movie"/>
	</body>
</html>
<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/babel">
	class InputMovie extends React.Component {
		constructor (props) {
			super(props)
			window.scrollTo(0, 0)
			this.changeMovieInput = this.changeMovieInput.bind(this)
			this.movieSelection = this.movieSelection.bind(this)
            this.loading = true
		}

		async componentDidMount () {
			let results = await axios.get('/movies')
			this.movies = results.data['movies']
			this.options = []
            this.loading = false
			this.forceUpdate()
		}

		changeMovieInput (event) {
			this.movieInput = event.target.value
			this.options = this.movies.filter((title) => {
				if (title.toLowerCase().includes(this.movieInput.toLowerCase()) || title.toLowerCase().replace(/[.,\/#!$%\^&\*;:{}=\-\'\"_`~()]/g,"").includes(this.movieInput.toLowerCase())) {
					return true
				} else {
					return false
				}
			})
			this.forceUpdate()
		}

		async movieSelection (value) {
			event.preventDefault();
            this.loading = true
			this.forceUpdate()
			let results = await axios.post(
				'/predict',
				{
					'movie': value
				},
				{
					headers: {
						'Content-Type': 'application/json',
						'Access-Control-Allow-Origin': '*'
					}
				}
			)
			this.recommendations = results.data['prediction_text']
			this.movieInput = ''
			this.options = []
            this.loading = false
			this.forceUpdate()
		}

		render () {
			if (this.movieInput && this.options && this.options.length > 0 && !this.loading) {
				return (
					<div className="outer-div">
						<input className="input" align="middle" id="inp"
							type="text" 
							value={this.movieInput}
							onChange={this.changeMovieInput}
							placeholder="ENTER A MOVIE"
							onKeyPress={(e) => { e.key === 'Enter' && e.preventDefault(); }}
						/>
						<div className="options">
							{this.options.map((value, index) => <button onClick={() => this.movieSelection(value)}>{value}</button>)}
						</div>
					</div>
				)
			} else if (!this.loading) {
				return (
					<div className="outer-div">
						<input className="input" align="middle" id="inp"
							type="text" 
							value={this.movieInput}
							onChange={this.changeMovieInput}
							placeholder="ENTER A MOVIE"
						/>
						<div className="results">{this.recommendations}</div>
					</div>
				)
			} else {
                return (
					<div className="loading1">
						<div className="loading2">LOADING</div>
					</div>
				)
            }
		}
	}
	const root = ReactDOM.createRoot(document.getElementById('movie'));
	root.render(<InputMovie />);
</script>